* {
    padding: 0;
    margin: 0;
}

a {
	display: inline-block;
}

li {
	list-style-type: none;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: RobotoSlab;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: RobotoCondensed;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: Tinos;
    src: url(../fonts/Tinos-Regular.ttf);
}

.font-tinos {
	font-family: Tinos;
}

.font-robotocondensed {
	font-family: RobotoCondensed;
}

.course-text {
	font-weight: bold;
	font-size: 45px;
	color: white;
	text-align: center;
}

.font-opensans {
	font-family: OpenSans;
}

.font-robotoSlab {
	font-family: RobotoSlab;
}

.head {
    background-image: url(../img/background-top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.resize-img {
	width: 80%;
}

.green-text {
	color: rgba(255,0,0,1);
	font-size: 150%;
    text-align: center;
    margin-top: 0;
    font-weight: 400;
}

.not-imp {
	display: none;
	padding-left: 10px;
}

.title-note {
	color: white;
	font-weight: 400;
	font-size: 24px;
}

.inc {
	font-size: 100px;
	color: white;
	font-weight: 600;
	line-height: 65px;
	text-align: center;
}

.mrg-top {
	margin-top: 5%;
}

.btn-format {
	width: 100%;
	font-size: 140%;
	background: rgba(36,145,86,1);
	color: white;
	font-weight: 700;
	border: 0;
	line-height: 300%;
}

.issue-title {
	border-bottom: 3px solid rgba(0,171,107,0.77);
	padding-bottom: 6%;
}

.issue-icon {
	width: 35%;
    margin-top: 15%;
    margin-left: 33%;
    margin-bottom: 5%;
}

.issue-head {
	font-size: 14px;
    height: 40px;
}

.issue-content {
	font-size: 13px;
}

.lakita-share {
	background-image: url(../img/background-share.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.share-title {
	border-bottom: 3px solid #10aa86;
	padding-bottom: 6%;
	color: red;
}

.content-region {
	border-left: 1px solid white;
	padding-left: 2%;
}

.text-item {
	color: white;
	font-size: 13px;
	padding-left: 5px;
}

.share-title-item {
	font-weight: 700;
	color: rgba(255,0,0,1);
	font-size: 18px;
}

.icon-tick {
	color: white;
}

.icon-region {
	color: #C79B00;
	font-size: 400%;
}

.testimonial {
	background: rgba(237,245,245,1);
    padding-bottom: 5%;
}

.testimonial-title {
	border-bottom: 2px solid rgba(35,194,60,1);
	padding-bottom: 3%;
	color: rgba(15,138,72,0.93);
	font-size: 36px;
	font-weight: 700;
}

.student {
	width: 100%;
	border-radius: 20px;
	border: 3px solid rgba(0,199,56,1);
	background: white;
	margin-top: 40%;
}

.img-student {
	width: 80%;
	margin: auto;
	text-align: center;
}

.name {
	color: rgba(117,117,117,1);
	font-size: 30px;
	font-weight: 700;
	margin-top: 2%;
}

.job {
	font-size: 18px;
	font-weight: 400;
	margin-top: 2%;
}

.cont {
	color: rgba(33,33,33,1);
	font-size: 13px;
}

.green-line {
	border-top: 3px solid rgba(35,194,60,1);
	width: 50%;
    margin: auto;
}

.img-form {
	max-width: 100%;
    border: 3px solid rgba(35,194,60,1);
    border-radius: 50%;
    margin-top: -40%;
}

.lecture {
	background-image: url(../img/background-mid-fix.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

.light-box-2 {
	background: rgba(255,255,255,0.59);
	padding-bottom: 3%;
}

.item-lecture {
	font-size: 25px;
	padding-left: 10px;
}

.orange-tick {
	color: #FF5722;
	font-size: 30px;
}

.name-lecture {
	color: rgba(33,107,15,1);
	font-size: 27px;
	margin-top: 2%;
}

.register {
	background-image: url(../img/background-footer.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.light-box-3 {
	background: rgba(18,17,17,0.74);
}

.white-text {
	color: white;
	font-weight: 700;
}

.old-price {
	text-decoration: line-through;
	font-size: 21px;
	padding-top: 5%;
}

.new-price {
	font-size: 30px;
	color: rgba(244,67,54,1);
	font-weight: 700;
}

.sale {
	font-size: 36px;
}

.note {
	font-size: 18px;
	font-weight: 400;
}

.fast {
	font-size: 30px;
}

.inside {
	width: 85%;
	margin: auto;
}

.black-text {
	color: rgba(38,38,38,1);
	font-size: 21px;
	font-weight: 700;
	line-height: 27px;
}

.small-text {
	color: rgba(38,38,38,1);
	font-size: 14px;
	font-weight: 700;
}

.block {
	width: 100%;
	height: 80%;
	background: rgba(38,38,38,1);
	font-size: 30px;
	font-weight: 600;
	color: white;
	border-radius: 5px;
}

.size {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	margin-top: 5%;
}

.inp-format {
	color: #8292B6;
	border: 1px solid rgba(194,194,194,1);
	font-size: 17px;
	padding-left: 3%;
}

.sub-format {
	background: #4db90a;
	font-size: 14px;
	font-weight: 700;
	color: white;
	border: 0;
	font-weight: 700;
}

.attention {
	background: rgba(0,0,0,0.5);
	padding-bottom: 1%;
	margin-top: 5%;
}

.sale-time {
	color: white;
	font-weight: 400;
	font-size: 30px;
}

.sale-time-detail {
	color: white;
	font-weight: 300;
	font-size: 14px;
}

.light-box {
	background: rgba(74,30,30,0.37);
	padding-bottom: 5%;
}

.light-box-5 {
	background: rgba(0,0,0,0.51);
}

@media (min-width: 768px) {
	.not-imp {
		display: inline;
	}

	.green-text {
		text-align: right;
		margin-top: 3%;
	}

	.course-text, .title-note, .inc {
		text-align: left;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.fix-height {
		height: 230px;
	}

	.attention {
		margin-right: 8.3333%;
	}

	.student {
		height: 360px;
	}

	.mar-diff {
		margin-top: 10%;
	}
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
	.student {
		height: 370px;
	}
}

@media (max-width: 768px) {
	.sm-format {
		width: 80%;
		margin-left: 10%;
	}

	.offset {
		padding: 5% !important;
	}

	.icon-region {
		font-size: 300%;
	}
}