#container {
    width: 1000px;
    height: 500px;
    background: #eee;
    margin: auto;
}

%btn {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}

#default {
    @extend %btn;
    background: none;
    color: black;
    &:hover {
        cursor: pointer;
        background: #9B9595;
    }
}

#primary {
    @extend %btn;
    background: #337AB7;
    color: white;
    &:hover {
        cursor: pointer;
        background: #337AA0;
    }
}