/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2017, 10:31:31 AM
    Author     : Phạm Ngọc Chuyển <chuyenpn at lakita.vn>
*/
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.padding-bottom-20{
    padding-bottom: 20px;
}
.bg-gray{
    background-color: #efefef;

}
.flex{
    display: flex;
    align-items: center;
}