/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2017, 6:29:36 PM
    Author     : Phạm Ngọc Chuyển <chuyenpn at lakita.vn>
*/

/*
<div class="container-fluid padding-bottom-20 register">
    <div class="row">
        <h2> ĐĂNG KÝ KHÓA HỌC NGAY ĐỂ NHẬN ƯU ĐÃI 65% </h2>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <p class="price-root"></p>
                </div>
                <div class="col-md-6">
                    <p class="price-sale-text"></p>
                    <p class="price-sale"></p>
                </div>
            </div>
            <p class="apply"> Áp dụng đến hết 24/04/2017 . NHANH TAY LÊN </p>
            <ul> 
                <li> 
                    <p> 24 </p> 
                    <p class="time"> Ngày </p>
                </li>
                <li> 
                    <p> 0 </p> 
                    <p class="time"> Giờ </p>
                </li>
                <li> 
                    <p> 7 </p> 
                    <p class="time"> Phút </p>
                </li>
                <li> 
                    <p> 0 </p> 
                    <p class="time"> Giây </p>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Họ và tên" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="phone" class="form-control" placeholder="Số điện thoại" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Địa chỉ">
                </div>
                <button type="submit" class="btn btn-default">Đăng kí ngay</button>
            </form>
        </div>
    </div>
    <p> Sau khi đăng ký mua khóa học, bộ phận CSKH của Lakita sẽ liên hệ với bạn để xác nhận thông tin 
        và nhân viên bưu điện sẽ giao khóa học tận nơi cho bạn. Bạn chỉ phải trả tiền khi nhận được khóa học. </p>
    <hr>
    <h2> MIỄN PHÍ GIAO HÀNG TOÀN QUỐC </h2>
    <p> LIÊN HỆ:  Phòng 701 CT1 - Chung cư Skylight - Ngõ Hòa Bình 6 - 125D Minh Khai - Q. Hai Bà Trưng - Hà Nội </p>
    <p> Hotline: 1900 636 195 - 04 7306 2468  </p>
</div>*/

div.register{
    position: relative;
    background-image: url('../img/fuzy.jpg'); 
    &:after {
        content : "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background:#000;
        width: 100%;
        height: 100%;
        opacity : 0.2;
    }
    div.container{
        *{
            position:relative;
            z-index: 99999;
            color:$color-footer;
        }
        h2{
            text-align: center;
            font-size: 24px;
            line-height: 28px;
            font-family: "Open Sans", sans-serif;
            color: $color-footer;
            font-weight: 700;
            //z-index: 10;
            margin-top: 40px;
        }
        div.price-root{
            padding-right: 0px;
            p.price-root{
                font-size: 18px;
                height: 60px;
                line-height: 60px;
                font-family: "Open Sans";
                color: rgb(36, 36, 36);
                font-weight: 700;
                text-decoration: line-through;
                background-color: $color-footer;
                border-radius: 330px 0px 0px 330px;
                text-align: center;
            }
        }

        div.price-sale{
            border: 1px solid #fff;
            border-radius: 0px 330px 330px 0px;
            height: 60px;
            p.price-sale-text{
                margin-top: 7px;
                font-size: 12px;
                line-height: 16px;
                background-color: rgba(255, 255, 255, 0);
                font-family: "Open Sans";
                color: $color-footer;
                font-weight: 700;
            }
            p.price-sale{
                font-size: 24px;
                line-height: 28px;
                font-family: "Open Sans";
                color: rgb(216, 67, 21);
                font-weight: 700;
            }
        }
        p.apply{
            font-size: 20px;
            line-height: 26px;
            font-family: "Open Sans";
            color: $color-footer;
            font-weight: 700;
            text-align: center;
            margin-top: 50px;
        }
        ul{
            display: inline-block;
            margin-top: 50px;
            li{
                float:left;
                padding: 15px 10px;
                background-color: rgb(244, 67, 54);
                margin-right: 15px;
                p{
                    font-size: 50px;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 700;
                    &.time{
                        margin-top: 15px;
                        margin-bottom: 15px;
                        font-size: 13px;
                        line-height: 17px;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 400;
                    }
                }
            }
            @include clearfix;
        }
        p.note{
            font-size: 14px;
            line-height: 21px;
            font-family: "Open Sans", sans-serif;
            color: $color-footer;
            text-align: center;
            margin-top: 30px;
        }
        hr{

        }
        p.free-ship{

        }
        p.contact-us, p.hotline{
            font-size: 14px;
            line-height: 20px;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            text-align: center;
            margin-top: 20px;
        }
        div.form-rgt{
            margin-top: 25px;
            div.form-group{
                input{
                    padding: 20px;
                    color:#000;
                    background-color: #fdfdfd;
                }               
            }
            button{
                font-size: 19px;
                line-height: 22px;
                background-color: rgb(19, 106, 66);
                font-family: "Open Sans";
                color: $color-footer;
                font-weight: 700;
                border-radius: 5px;
                display: block;
                margin: 0px auto;
                padding: 15px 35px;
                text-transform: uppercase;
            }
        }
    }
}