.abc{
    position: relative;
    background-color: red;
    min-height: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

$list: (
  (1200px, lg, 1170px),
  (992px, md, 970px),
  (768px, sm, 750px),
  (1px, xs, 100%)
);

@each $width, $size, $container-width in $list {
    @media (min-width: $width) {
        .container{
            width: $container-width;
        }
    @for $i from 1 to 13 {
        .col-#{$size}-#{$i}{
            width: 100% / 12 * $i;
            float: left;
        }
    }
}
}




@each $width, $size in $list {
    
    @for $i from 1 to 13 {
        .col-#{$size}-#{$i}{
            @extend .abc;
        }
    }
}

